
.navbar {
    background-color: #002153;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar.fade-in {
    animation: fadeIn 1.2s ease forwards;
}

.nav-link {
    color: white;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #005FF0;
}
