body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Prend toutes la largeur*/
.card.paragraph-card {
    grid-column: span 2; /* sur les deux colonnes */
    width: 100%; /* carte occupe toute la largeur */
}


/* Style cartes */
.card {
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 49%;
    color: white;
    transition: box-shadow 0.3s ease-in-out;
}

/* effet lumineux  */
.card:hover {
    box-shadow: 0 0 15px #002153;
}

/* pour l'image */
.card img {
    max-width: 100%;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}
.card h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #e6e6e6;
}

.card p {
    font-size: 16px;
    color: #e0e0e0;
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}
